**/.gradle/*
!gradle/wrapper/gradle-wrapper.jar
out/*
**/build/*
**/generated/*

# dependencies
node_modules
dist/
generated/
build/
classes/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
**/.idea/*
*.iml
*.iws
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

**/logs
